<div class="w-5/6 overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          <div class="flex items-center">
            Ingredient
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512">
                <path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/>
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="py-3 px-6">
          <div class="flex items-center">
            Quantity
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512">
                <path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/>
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="py-3 px-6">
          <div class="flex items-center">
            Price
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512">
                <path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/>
              </svg>
            </a>
          </div>
        </th>
        <% if current_user && current_user == @recipe.user %>
          <th scope="col" class="py-3 px-6">
              Actions
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= recipe_food.food.name %>
            </th>
            <td class="py-4 px-6">
                <%= recipe_food.quantity %>
            </td>
            <td class="py-4 px-6">
                <%= number_to_currency(recipe_food.food.price) %>
            </td>
            <% if current_user && current_user == @recipe.user %>
              <td class="py-4 px-6">
                    <div class="flex gap-3">
                      <%= link_to 'Edit', edit_user_recipe_recipe_food_path(current_user, @recipe, recipe_food.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                      <%= button_to user_recipe_recipe_food_path(current_user, @recipe, recipe_food.id), method: :delete, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" do%>
                        <i class="fa-solid fa-trash-can"></i>
                      <% end %>
                    </div>
              </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flex m-5 justify-left gap-3">
  <% if current_user && current_user == @recipe.user %>
    <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(current_user, @recipe), class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'See ingredients', user_recipe_recipe_foods_path(current_user, @recipe), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
