<div id="<%= dom_id recipe %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= recipe.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= recipe.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Public:</strong>
    <%= recipe.public %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this recipe", user_recipe_path(recipe.user, recipe), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if can? :manage, Recipe %>
      <%= link_to 'Edit this recipe', edit_user_recipe_path(recipe.user, recipe), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'See ingredients', user_recipe_recipe_foods_path(current_user, recipe), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
