<!DOCTYPE html>
<html>
  <head>
    <title>BestRecepies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="flex justify-between items-center mb-5">
      <div class="flex gap-2 items-center">
        <%= image_tag "icon.png", width: 30 %>
        <span> Best Recipes </span>
      </div>
      <%= render "layouts/navbar" %> 
    </nav>
    
    <main>
      <%= yield %>
    </main>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
